<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
</head>
<body>
<div class="container">
    <br><br>
    <div class="row">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div style="border:1px solid grey; padding: 10px; background: #c9d3da">
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        {% endwith %}
    </div>
    <br><br>
    <div class="row">
        <div class="col-10">
            <h1 class="text-center">{{ title }}</h1>
        </div>
        <div class="col-2">
            <a class="btn btn-outline-primary btn-lg col-12" href="/" role="button">Home</a>
        </div>
    </div>
    <br><br>
    <form action="/plot" method="post" style="margin-bottom:30px">
        <div class="row">
            <div class="col-10 form-floating">
                <select id="symbols" name="symbols" class="form-select form-select-lg mb-4" style="font-size:1rem;">
                        {% for symbol in symbols %}
                            <option>
                                {{ symbol['symbol'] }}
                            </option>
                        {% endfor %}
                </select>
                <label for="floatingSelect" style="margin-left:10px">Please select symbols</label>
            </div>
            <div class="col-2">
                <input class="form-control btn-outline-success btn-lg" type="submit" name="plot"
                                      value="plot chart"/>
            </div>
        </div>
        <div class="row">
            <label for="floatingSelect" style="margin-left:10px">Input PST date range</label>
            <div class="input-group">
                <input type="text" class="form-control" id="date_start" name="date_start" placeholder="YYYY-MM-DD">
                <div class="input-group-addon" style="margin:10px">to</div>
                <input type="text" class="form-control" id="date_end" name="date_end" placeholder="YYYY-MM-DD">
            </div>
        </div>
    </form>
    <div id="charts">
        {% if low_time_frame_data != [] %}
            {% include 'chart_low_time_frame.html' %}
        {% endif %}

        {% if high_time_frame_data != [] %}
            {% include 'chart_high_time_frame.html' %}
        {% endif %}
    </div>
</div>
</body>
</html>