<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <br><br>
    <div class="row">
        <h1 class="text-center">{{ title }}</h1>
    </div>
    <br><br>
    <br><br>
    <div class="row">
        <div class="col-4">
            <a class="btn btn-outline-primary btn-lg col-12" href="/balance" role="button">My Balance</a>
        </div>
        <div class="col-4">
            <a class="btn btn-outline-primary btn-lg col-12" href="/chart" role="button">See charts</a>
        </div>
        <div class="col-4">
            <a class="btn btn-outline-primary btn-lg btn-block col-12" href="/csv" role="button">Download CSV</a>
        </div>
    </div>
</div>
</body>
</html>